@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --brand-color: #FF955C;
    --primary-color: black;
    --secondary-color: white;
    --gray-color: #afafaf;
    --opacity: 0.25;
    --name:"H";
}

body {
    margin: 0;
    padding: 0 10px 0 10px;
    font-family: 'Poppins', sans-serif;
    color: var(--secondary-color);
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: var(--opacity);
    background-color: black;
    z-index: -1;
}

.nav {
    width: 99%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    /* padding: 10px; */
}

.title {
    margin-top: 15px;
    font-size: 35px;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.title img {
    width: 50px;
    height: 50px;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.collab-info {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#copyButton, #textToCopy {
    background: none;
    border: none;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}

#textToCopy {
    font-size: 18px;
}

.animate-out {
    opacity: 0;
}


.end-btn {
    font-weight: 500;
    background-color: #ad0300;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    margin-top: 15px;
    border-radius: 25px;
    transition: all 0.5s ease;
}

.end-btn:hover {
    background-color: #7c0200;
    border: 1px solid white;
    transition: all 0.5s ease;
}

.player {
    width: 100%;
    height: 92vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 99%;
    height: 95%;
    /* Glassmorphism */
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.search-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1%;
    height: 95%;
    padding: 0 15px 15px 15px;
    font-size: 25px;
    /*/Glassmorphism/*/
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: width 0.25s ease;
    overflow: hidden;
}

.search-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

.search-screen, .user-screen {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.search-fld {
    width: 100%;
    border-radius: 15px;
    font-size: 20px;
    padding: 5px 0 5px 12px;
    border: none;
}

.search-result, .user-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 2px 3px 2px 3px;
    width: 100%;
    overflow-y: auto;
    max-height: 450px;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none;
}

.search-result::-webkit-scrollbar {
    display: none;
}

.result {
    font-size: 18px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 2px 5px 2px 15px;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    color: #ffffff;
}

.result div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: black;
    background: rgb(255, 255, 255);
}


.result img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.invisible {
    display: none;
}

.active {
    color: black;
}

.expand-search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}


.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.credits {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.song_details {
    margin-top: 2.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.player-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.now-playing , .user-playing{
    font-size: 1.25rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.user-playing{
    /*margin-left: 0;*/
    /*margin-right: 1.5rem;*/
    font-size: 0.8rem;
    letter-spacing: 0.75px;
    font-weight: 100;
    margin-top: 3px;
}

.track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-size: cover;
    background-position: center;
    -moz-box-shadow: 0 8px 6px black;
    -webkit-box-shadow: 0 8px 6px black;
    box-shadow: 0 8px 6px black;
    -moz-border-radius: 190px;
    -webkit-border-radius: 190px;
    border-radius: 10%;
    position: relative;
}

.track-art::after {
    content: "H";
    font-size: 25px;
    font-weight: 600;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 15%;
    border-radius: 50%;
    background-color: var(--brand-color);
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(50%,50%);
    backdrop-filter: blur(5px);
    box-shadow: 35px 35px 68px 0 rgba(255, 149, 92, 0.5), inset -8px -8px 16px 0 rgba(255, 149, 92, 0.6), inset 0 11px 28px 0 rgb(255, 255, 255);
}


.track-name {
    font-weight: bold;
    font-size: 2.5rem;
}

.track-artist {
    margin-top: 5px;
    font-size: 1.5rem;
}

.buttons {
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 2.75rem;
}

.button-group {
    display: flex;
    align-items: center;
}

.left {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.right {
    justify-content: flex-end;
}

.active {
    color: var(--primary-color);
}

.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
    padding: 20px;
    opacity: 0.8;
    transition: opacity .2s;
}

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
    opacity: 1.0;
}

.slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.progress_container {
    background: var(--gray-color);
    border-radius: 5px;
    cursor: pointer;
    height: 5px;
    width: 90%;
}

.progress {
    position: relative;
    background-color: var(--brand-color);
    border-radius: 5px;
    height: 100%;
    width: 0;
    transition: width 0.1s linear;
}

.progress::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    width: 15px;
    height: 15px;
    opacity: 0;
    background-color: var(--secondary-color);
    /* border: 3px solid var(--primary-color); */
    border-radius: 50%;
    transition: opacity 0.2s ease;
}

.progress_container:hover .progress::after {
    opacity: 1;
    transition: opacity 0.1s ease;
}

.volume_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 10%;
}


.volume_slider_container {
    background: var(--gray-color);
    border-radius: 3px;
    cursor: pointer;
    height: 5px;
    width: 100%;
    margin-left: 0;
}

.volume_slider {
    position: relative;
    background-color: var(--secondary-color);
    border-radius: 3px;
    height: 100%;
    width: 100%;
    transition: width 0.05s linear;
}

.volume_slider::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    width: 13px;
    height: 13px;
    opacity: 0;
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    transition: opacity 0.2s ease;
}

.volume_slider_container:hover .volume_slider::after {
    opacity: 1;
    transition: opacity 0.1s ease;
}

.current-time,
.total-duration {
    padding: 10px;
}

i.fa-volume-down,
i.fa-volume-mute {
    padding: 10px;
}


i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward,
p {
    cursor: pointer;
}

.randomActive {
    color: var(--brand-color);
}

.rotate {
    animation: rotation 8s infinite linear;
}

.loader {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .stroke {
    background: var(--secondary-color);
    height: 150%;
    width: 10px;
    border-radius: 50px;
    margin: 0 5px;
    animation: animate 1.4s linear infinite;
}

@keyframes animate {
    50% {
        height: 20%;
        background: var(--brand-color);
    }

    100% {
        background: var(--brand-color);
        height: 100%;
    }
}

.stroke:nth-child(1) {
    animation-delay: 0s;
}

.stroke:nth-child(2) {
    animation-delay: 0.3s;
}

.stroke:nth-child(3) {
    animation-delay: 0.6s;
}

.stroke:nth-child(4) {
    animation-delay: 0.9s;
}

.stroke:nth-child(5) {
    animation-delay: 0.6s;
}

.stroke:nth-child(6) {
    animation-delay: 0.3s;
}

.stroke:nth-child(7) {
    animation-delay: 0s;
}

.init-screen {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.init-screen p {
    font-size: 36px;
}

.animation-container-2 {
    width: 100%;
    height: 100%;
}

.bgAnimation {
    position: absolute;
    left: 0;
    top: 0;
    /*transform:translate(-50%,-50%);*/
    z-index: -1;
}

/*#lottieAnimation {*/
/*    width: 700px;*/
/*    height: 580px;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    margin: auto;*/
/*    z-index: 1;*/
/*    mask-image: url('../assets/media/blob.svg');*/
/*    mask-size: cover;*/
/*    -webkit-mask-image: url('../assets/media/blob.svg');*/
/*    -webkit-mask-size: cover;*/
/*}*/

#lottieAnimation {
    width: 500px;
    height: 500px;
    position: relative;
}

.pop-up-container{
    position: absolute;
    bottom:10px;
    right:10px;
    transform: translate(-10px,-10px);
    z-index:2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.pop-up{
    padding:5px 10px 5px 10px;
    background: black;
    border-radius: 5px;
    font-size: 22px;
    opacity: 1; /* Initially hidden */
    transition: opacity 0.5s ease-in-out; /* Fade-in transition */
    box-shadow: 3px 5px 7px 0 rgba(0, 0, 0, 0.45);
    position: relative;
}

.pop-up::after {
    content: '';
    position: absolute;
    bottom: -16px; /* Adjust this value to change the position of the triangle */
    right: 3px;
    border-width: 10px;
    border-style: solid;
    border-color: black transparent transparent transparent; /* Triangle color */
}
/* .second-half{
    opacity:0;
    transition:opacity 0.5s ease-in-out;
}

.second-half:hover{
    opacity:1;
    transition:opacity 0.5s ease-in-out;
} */

/* Toggle Button */
/* #toggle {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background-color: var(--gray-color);
    transition: all 0.5s ease-in;
    cursor: pointer;
} */

/* Making a dot switch inside the Toggle Button */
/* #toggle::before {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--secondary-color);
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: all 0.25s ease-out;
} */

/* Changing toggle button background when checked */
/* #toggle:checked {
    background: var(--brand-color);
} */

/* Changing dot switch color and moving to the right side when checked */
/* #toggle:checked::before {
    background: #333;
    left: 32px;
} */